.events-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.event {
    width: 50%;
    cursor: pointer;
    position: relative;
}

.event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event img:not(.lazyloaded) {
    /* Prevent displaying empty img box with white border */
    visibility: hidden;
}

.event-back img {
    height: 2.5rem;
}

.event .overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    flex-direction: column;
    line-height: 1.3;
}

.event:hover .overlay {
    display: flex;
}

.event-title {
    margin-top: -1rem;
}

.event-date {
    margin-top: .5rem;
}

.event-title,
.event-date {
    font-size: 1.8rem;
}

.event-headline {
    margin-top: -1rem;
}