.infos {
  display: flex;
  flex-direction: column;
}
/* SOCIALS */
.socials a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: .4rem;
  background-size: cover !important;
  padding: .4rem .5rem .1rem .5rem;
  margin-left: -.4rem;
}
a.facebook:hover {
  background: url('../img/buttons/FACEBOOK.png');
}
a.instagram:hover {
  background: url('../img/buttons/INSTAGRAM.png');
}
a.spotify:hover {
  background: url('../img/buttons/SPOTIFY.png');
}

/* ADDRESS & OPENHOURS */
.address-openhours {
  color: var(--text-color);
  font-size: .9rem;
}
.col-left {
  padding-right: 1rem;
}
.address {
  margin-bottom: 1rem;
  white-space: pre-line;
}
.openhours {
  white-space: pre-line;
}

@media (min-width: 1201px) {
  .socials, .address-openhours {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .address-openhours h2 {
    display: none;
  }
  .socials > .col:nth-child(even), .address-openhours > .col:nth-child(even) {
    width: 60%;
  }
  .socials > .col:nth-child(odd), .address-openhours > .col:nth-child(odd) {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .openhours-abstract {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  .socials {
    order: 2;
    margin-top: 2rem;
  }
  .socials .col {
    margin-bottom: 2rem;
  }
  .socials a {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    padding: .5rem .5rem .4rem .5rem;
  }
  a.facebook {
    background: url('../img/buttons/FACEBOOK.png');
  }
  a.instagram {
    background: url('../img/buttons/INSTAGRAM.png');
  }
  a.spotify {
    background: url('../img/buttons/SPOTIFY.png');
    padding-right: 1.2rem;
  }
  a.infos + .sub-items {
    display: none;
  }
}