body {
    margin: 0;
    padding: 0;
}

menu,
main {
    width: 50%;
    min-height: 100vh;
    margin: 0;
    padding: 1.5rem 3rem;
}

main {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-left: 50%;
    overflow-x: hidden;
}