body {
    margin: 0;
    padding: 0;
}

menu, main {
    margin: 0;
    padding: 15px;
}

main {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
}
