menu {
    background-repeat: repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
menu::-webkit-scrollbar-track {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}

menu::-webkit-scrollbar {
    width: 10px;
}

menu::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    min-height: 40px;
}

@media (max-width: 800px) {
    menu {
        background: url('../img/FOND ROSE_RESP.png');
    }
}

@media (min-width: 801px) {
    menu {
        background: url('../img/FOND ROSE_DESKTOP.png');
    }
}

menu .logo {
    margin-top: -1rem;
}

menu nav {
    flex-grow: 1;
    margin: 2rem 0;    
}
menu nav a {
    display: inline-block;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: .3rem 0;
}
menu nav > a {
    transform: rotateZ(-5deg);
    transform-origin: left;
    background-size: cover !important;
    padding: .2rem .5rem 0 .5rem;
    margin-left: -.5rem;
}
menu nav a.contact {
    transform: rotateZ(5deg);
    margin-top: -.3rem;
}
menu nav a.infos {
    transform: rotateZ(0);
    margin-top: 1.3rem;
}

a.contact.active, a.contact:hover {
    background: url('../img/buttons/CONTACT.png');
}
a.agenda.active, a.agenda:hover {
    background: url('../img/buttons/AGENDA.png');
}
a.comment-ca-se-passe.active, a.comment-ca-se-passe:hover {
    background: url('../img/buttons/COMMENT ÇA SE PASSE.png');
}
a.nous-rejoindre.active, a.nous-rejoindre:hover {
    background: url('../img/buttons/NOUS REJOINDRE.png');
}
a.infos.active, a.infos:hover {
    background: url('../img/buttons/NOUS REJOINDRE.png');
}

menu nav a.sub-item {
    display: block;
    font-size: 1.2rem;
    margin: .1rem 0;
    position: relative;
    cursor: pointer;
}
menu nav a.sub-item:last-child {
    margin-bottom: 2rem; /* some margin cause nav items are rotates */
}

.agenda-filters {
    display: flex;
    flex-wrap: wrap;
}

.agenda-filters a.sub-item {
    width: 50%;
}

menu nav a.sub-item.active:after {
    content: "";
    background: url("../img/buttons/VALIDÉ (TEXTE).png");
    display: inline-block;
    height: 39px;
    width: 50px;
    transform: scale(.65);
    transform-origin: center;
    margin-left: 5px;
    background-size: cover;
    position: absolute;
    bottom: -4px;
}

@media (max-width: 1200px) {
    menu {
        padding: 1rem;
    }
    .menu-header {
        display: flex;
        align-items: center;
        height: 4rem;
    }
    .menu-header a {
        flex-grow: 1;
        text-align: center;
    }
    menu .logo {
        height: 4rem;
        margin: 0;
    }
    .menu-button {
        width: 4.5rem;
        flex-shrink: 0;
        padding: 1rem;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }
    .menu-button > div {
        height: 5px;
        background-color: var(--primary-color);
        margin: 6px 0;
    }
    menu nav, menu > .infos {
        display: none;
    }
    menu nav {
        text-align: center;
        margin: 2rem 0 1.5rem 0
    }
    menu nav a.agenda {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1201px) {
    menu a.infos { 
        display: none;
    }
}