menu {
    background-repeat: repeat;
    background-size: cover !important;
    /* color in pink while the image load */
    background-color: var(--menu-color);
}

@media (max-width: 800px) {
    menu {
        background: url('../img/FOND ROSE_RESP.png');
    }
}

@media (min-width: 801px) {
    menu {
        background: url('../img/FOND ROSE_DESKTOP.png');
    }
}

menu nav a {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

menu nav a.sub-item {
    font-size: 1.4rem;
    margin: .2rem 0;
    position: relative;
    cursor: pointer;
}

.agenda-filters {
    display: flex;
    flex-wrap: wrap;
}

.agenda-filters a.sub-item {
    width: 50%;
}

menu nav a.sub-item.active:after {
    content: "";
    background: url("../img/buttons/VALIDÉ (TEXTE).png");
    display: inline-block;
    height: 39px;
    width: 50px;
    transform: scale(.65);
    transform-origin: center;
    margin-left: 5px;
    background-size: cover;
    position: absolute;
    bottom: -4px;
}