menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    background-repeat: repeat;
    background-size: contain;
    /* color in pink while the image load */
    background-color: var(--menu-color);
}

@media (max-width: 800px) {
    menu {
        background: url('../img/FOND ROSE_RESP.png');
    }
}

@media (min-width: 801px) {
    menu {
        background: url('../img/FOND ROSE_DESKTOP.png');
    }
}

menu nav a {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
}