nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: transparent url(../images/bg_nav-mobile@2x.jpg) top left no-repeat;
    background-size: cover;
    vertical-align: middle;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -ms-transition: -ms-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    transition: transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transform: translate3d(0,-100%,0);
}

nav a {
    text-decoration: none;
    color: #FA0000;
}

.menu {
    padding: 5rem 1rem 1rem 1rem;
}


.effect {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #FA0000;
}

.effect-1 {
    transform: translateY(-15px) rotate(-4deg);
}

.effect-1 span {
    padding: 5px 20px 5px 1px;
}

.effect-1 span:hover,
.menu input:checked + .effect-1 span,
.page-agenda .menu input + .effect-1 span,
.page-concert .menu input + .effect-1 span,
.page-spectacle .menu input + .effect-1 span,
.page-projection .menu input + .effect-1 span,
.page-atelier .menu input + .effect-1 span,
.page-solidarite .menu input + .effect-1 span,
.page-restaurant .menu input + .effect-1 span,
.page-bar .menu input + .effect-1 span {
    background-image: url(../images/bg_agenda@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
}

.effect-1 + ul {
    margin-top: 1rem;
}

.effect-2 {
    margin-top: 13px;
    transform: translateY(-15px) rotate(-5deg);
}

.effect-2 span {
    padding: 8px 8px 8px 1px;
}

.effect-2 span:hover,
.menu input:checked + .effect-2 span,
.page-comment-ca-se-passe .menu input + .effect-2 span,
.page-accessibilite .menu input + .effect-2 span,
.page-actions-solidaires .menu input + .effect-2 span,
.page-reduction-risques .menu input + .effect-2 span,
.page-covid-19 .menu input + .effect-2 span {
    background-image: url(../images/bg_comment@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: -1px;
}

.effect-2 + ul {
    margin-top: 1rem;
}

.effect-3 {
    margin-top: 20px;
    transform: translateY(-15px) rotate(-4deg);
}

.effect-3 span {
    padding: 6px 5px 6px 1px;
}

.effect-3 span:hover,
.menu input:checked + .effect-3 span,
.page-benevolat .menu input + .effect-3 span,
.page-recrutement .menu input + .effect-3 span {
    background-image: url(../images/bg_nous-rejoindre@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: -1px;
}

.effect-3 + ul {
    margin-top: 1rem;
}

.effect-4 {
    margin-top: 15px;
    transform: translateY(5px) rotate(3deg);
}

.effect-4 a {
    padding: 6px 10px 0px 1px;
}

.effect-4 a:hover {
    background-image: url(../images/bg_contact@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: 3px;
}

.effect-5 {
    margin-top: 10px;
    transform: translateY(10px) rotate(-1deg);
}

.effect-5 a {
    padding: 5px 5px 5px 1px;
}

.effect-5 a:hover {
    background-image: url(../images/bg_venir@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: 1px;
}

/************************************************************************************/
/***** TABS DU MENU *****************************************************************/
/************************************************************************************/

.menu input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  
.menu .tabs {
    overflow: hidden;
}
  
    .menu .menu__tab {
        width: 100%;
        overflow: hidden;
        padding-top: 5px;
        font-weight: bold;
    }

    .menu .menu__tab:last-child {
        padding-bottom: 1rem;
    }
  
    .menu .menu__tab__label {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
    }
  
    .menu .menu__tab__content {
        max-height: 0;
        transition: all .35s;  
    }
  
.menu input:checked ~ .menu__tab__content {
    max-height: 100vh;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

.menu ul {
    margin-left: 0;
}

.menu li:first-child {
    margin-top: 5px;
}

.menu li:not(:last-child) {
    margin-bottom: 10px;
}

.menu li a {
    color: #FA0000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
}

.menu li a:hover::after,
.page-concert .menu li a.link-concert::after {
    content: "";
    transition: all 0.25s ease-in-out;
    position: absolute;
    margin-top: -3px;
    margin-left: 5px;
    background-image: url(../images/puce_valide@4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 19px;
}


.menu-group-agenda ul {
    display: flex;
    flex-direction: column;
}

.menu-group-agenda li {
    display: flex;
    flex-direction: column;
}

.nav--open {
    -webkit-transform: translate3d(0%,0,0);
    -moz-transform: translate3d(0%,0,0);
    -ms-transform: translate3d(0%,0,0);
    -o-transform: translate3d(0%,0,0);
    transform: translate3d(0%,0,0);
}

nav .logo {
    display: none;
}

.wrap-push {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

.footer-nav {
    font-size: 0.75rem;
    padding: 1rem;
}

.footer-nav__socials li {
    margin-bottom: 0.75rem;
}

.footer-nav__socials li a {
    color: #FF0000;
    text-transform: uppercase;
}

.footer-nav__socials li:first-child a {
    padding: 7px 15px 5px 5px;
}

.footer-nav__socials li:first-child a:hover {
    background: transparent url(../images/bg_facebook@4x.png) no-repeat;
    background-size: cover;
}

.footer-nav__socials li:nth-child(2) a {
    padding: 7px 15px 5px 5px;
}

.footer-nav__socials li:nth-child(2) a:hover {
    background: transparent url(../images/bg_instagram@4x.png) no-repeat;
    background-size: cover;
}

.footer-nav__socials li:last-child a {
    padding: 7px 15px 5px 5px;
}

.footer-nav__socials li:last-child a:hover {
    background: transparent url(../images/bg_spotify@4x.png) no-repeat;
    background-size: cover;
}

.footer-nav__socials li a svg {
    margin-right: 0.3rem;
}

.footer-nav p {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0.75rem;
}

.footer-nav table + p.mentions {
    font-size: 0.7rem !important;
}

.footer-nav table td {
    text-transform: uppercase;
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
}

.footer-nav__socials {
    margin-bottom: 2rem;
}

.footer-nav__infos {
    display: flex;
    flex-direction: column;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/


@media (min-width: 768px) {
    .menu {
        padding: 8rem 3rem 2rem 3rem;
    }
        .menu li:first-child {
            margin-top: 15px;
        }
        .menu li a {
            font-size: 1.2rem;
        }
        .effect {
            font-size: 1.8rem;
        }
        .effect-4 {
            margin-top: 30px;
            transform: translateY(5px) rotate(3deg);
        }
    .menu-group-agenda ul {
        width: 400px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
        .menu-group-agenda li {
            width: 50%;
        }
    .footer-nav {
        font-size: 1rem;
        padding: 1rem 3rem 2rem 3rem;
    }
        .footer-nav__socials ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .footer-nav__infos {
            flex-direction: row;
        }
        .footer-nav__infos-horaires {
            margin-left: 5rem;
        }
}

@media (min-width: 1024px) {
    header {
        -webkit-transform: translate3d(0,-100%,0);
        -moz-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
        -o-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    nav {
        background: transparent url(../images/bg_nav.jpg) top left no-repeat;
        background-size: cover;
        width: 50%;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    nav .logo {
        display: flex;
        justify-content: center;
        height: 160px;
        margin-top: 3rem;
    }

    .menu {
        padding: 3rem 3rem 2rem 3rem;
    }

    .footer-nav__infos-horaires {
        margin-left: 1rem;
    }

    .wrap, .wrap-push {
        width: 50%;
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }    
}

@media (min-width: 1280px) {
    .footer-nav__infos-horaires {
        margin-left: 5rem;
    }
}