@font-face {
    font-family: "Heading Now";
    src: url('../fonts/Heading-now-84-regular/heading-now-84-regular-webfont.eot');
    src: url('../fonts/Heading-now-84-regular/heading-now-84-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Heading-now-84-regular/heading-now-84-regular-webfont.woff2') format('woff2'),
         url('../fonts/Heading-now-84-regular/heading-now-84-regular-webfont.woff') format('woff'),
         url('../fonts/Heading-now-84-regular/heading-now-84-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Heading Now";
    src: url('../fonts/Heading-now-73-book/heading-now-73-book-webfont.eot');
    src: url('../fonts/Heading-now-73-book/heading-now-73-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Heading-now-73-book/heading-now-73-book-webfont.woff2') format('woff2'),
         url('../fonts/Heading-now-73-book/heading-now-73-book-webfont.woff') format('woff'),
         url('../fonts/Heading-now-73-book/heading-now-73-book-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Heading Now Title";
    src: url('../fonts/Heading-now-95-Medium/Heading-Now-95-Medium.eot');
    src: url('../fonts/Heading-now-95-Medium/Heading-Now-95-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Heading-now-95-Medium/Heading-Now-95-Medium.woff2') format('woff2'),
         url('../fonts/Heading-now-95-Medium/Heading-Now-95-Medium.woff') format('woff'),
         url('../fonts/Heading-now-95-Medium/Heading-Now-95-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
