@import '_layout.css';
@import '_menu.css';
@import '_form.css';
@import '_event.css';
:root {
    --primary-color: #f30608;
    --text-color: white;
    --bg-color: black;
    --menu-color: #fe6dda;
}

@font-face {
    font-family: "Heading Now";
    src: url("../fonts/Heading-Now-84-Regular/Heading-Now-84-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Heading Now Title";
    src: url("../fonts/Heading-Now-95-Medium/Heading-Now-95-Medium.woff2") format("woff2"), url("../fonts/Heading-Now-95-Medium/Heading-Now-95-Medium.woff") format("woff"), url("../fonts/Heading-Now-95-Medium/Heading-Now-95-Medium.ttf") format("truetype");
}

body {
    font-family: "Heading Now";
    line-height: 1.2;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

h1,
h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: "Heading Now Title";
    font-weight: normal;
    width: 100%;
}

h2+p {
    margin-top: -.7rem;
}

figure {
    margin: 0;
}

iframe {
    width: 100%;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

figcaption {
    font-size: .7rem;
    opacity: .9;
}

button {
    color: var(--primary-color);
    font: inherit;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    background-size: cover !important;
    padding: 6px 10px;
    cursor: pointer;
}

button[data-shape="ENVOYER"] {
    background: url('../img/buttons/ENVOYER.png');
}

button[type="submit"] {
    margin: .5rem 0 1rem 0;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
}

.alert+.alert {
    margin-top: -2rem;
}

.alert.error {
    background-color: var(--primary-color);
}

.alert.success {
    background-color: var(--menu-color);
}