@import 'reset.css';

@import 'typography.css';
@import 'header.css';
@import 'nav.css';
@import 'footer.css';
@import 'form.css';

body {
    background-color: #000;
    color: #FFF;
    font-family: 'heading-Now-Regular', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: #FFF;
}

p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

main {
    padding: 5rem 1rem 3rem 1rem;
}

section {
    margin-bottom: 5rem;
}

@media(min-width: 768px) {
    main {
        padding: 7rem 3rem 3rem 3rem;
    }
}

@media(min-width: 1024px) {
    main {
        padding: 3rem 3rem 3rem 3rem;
    }
}
