@charset "UTF-8";
@font-face {
  font-family: 'caracteres_l1regular';
  src: url("../fonts/caracteres_l1-webfont.woff2") format("woff2"), url("../fonts/caracteres_l1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.woff2?19996900") format("woff2"), url("../fonts/fontello.woff?19996900") format("woff"), url("../fonts/fontello.ttf?19996900") format("truetype"), url("../fonts/fontello.svg?19996900#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19996900#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-upload:before {
  content: '\e800'; }

/* '¯áÇ' */
.icon-up-circled2:before {
  content: '\e801'; }

/* '¯áü' */
.icon-up-circle:before {
  content: '\e803'; }

/* '¯áâ' */
.icon-twitter:before {
  content: '\f309'; }

/* '´îë' */
.icon-facebook:before {
  content: '\f30c'; }

/* '´îî' */
.icon-linkedin:before {
  content: '\f318'; }

/* '´îÿ' */
.icon-instagram:before {
  content: '\f31e'; }

/* '´î×' */
html {
  height: 100%; }

html, body {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #25252c;
  font-weight: 300;
  height: 100%; }

a {
  color: goldenrod;
  text-decoration: none;
  padding: 0;
  position: relative; }

a:hover {
  color: #a74343; }

a.active {
  color: #555; }

* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'caracteres_l1regular', sans-serif;
  font-weight: 500; }

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.1rem; }

h5, h6 {
  color: #a74343; }

.nowrap {
  white-space: nowrap;
  font-family: inherit; }

figure figcaption {
  text-align: right;
  font-weight: 300;
  color: #999; }
  figure figcaption small {
    font-weight: 300; }
figure img {
  width: 100%; }

ul {
  padding-left: 1rem; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

nav#main-nav {
  padding: 5px 10px;
  background: #fbfbfb;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08); }
  nav#main-nav.navbar-light .navbar-toggler {
    border: none;
    position: relative;
    left: .75rem; }
  nav#main-nav .navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  nav#main-nav .navbar-brand {
    font-family: 'caracteres_l1regular', sans-serif;
    font-size: 1.5rem;
    padding: 3px;
    color: goldenrod; }
    nav#main-nav .navbar-brand img {
      height: 40px; }
  nav#main-nav .navbar-nav {
    padding: 10px 25px; }
    nav#main-nav .navbar-nav .nav-item .nav-link {
      color: #a74343;
      text-decoration: none;
      font-weight: 500;
      white-space: nowrap; }
      nav#main-nav .navbar-nav .nav-item .nav-link:hover {
        color: goldenrod; }
      nav#main-nav .navbar-nav .nav-item .nav-link.active {
        color: #555;
        opacity: 0.75; }
    nav#main-nav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0; }
    nav#main-nav .navbar-nav .nav-item .dropdown-menu {
      background: #fbfbfb;
      border: 0;
      display: block;
      margin: 0;
      padding: 0;
      max-height: 0;
      transition: all 0.5s ease-out;
      overflow: hidden; }
      nav#main-nav .navbar-nav .nav-item .dropdown-menu.show {
        max-height: 200px;
        padding: 0.5rem 0; }
      nav#main-nav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        color: #a74343; }
        nav#main-nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
          background: transparent;
          color: goldenrod; }
        nav#main-nav .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
          background: transparent;
          color: #555;
          opacity: 0.75;
          cursor: default; }

main.container-xl {
  padding: 100px 25px 175px; }
  main.container-xl section.content {
    margin: 0 auto;
    max-width: 800px;
    text-align: justify; }

footer#main-footer {
  background: #fbfbfb;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  margin: 0 auto;
  padding: .5rem 0;
  bottom: 0;
  z-index: 100; }
  footer#main-footer > div.container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer#main-footer > div.container-xl nav {
      flex: auto;
      margin-right: 20px;
      order: 1;
      width: 50%; }
      footer#main-footer > div.container-xl nav a {
        color: #821f22;
        font-size: 1.5rem; }
        footer#main-footer > div.container-xl nav a:hover {
          color: goldenrod;
          text-decoration: none; }
    footer#main-footer > div.container-xl form {
      flex: auto;
      width: 100%;
      max-width: 360px;
      padding-bottom: 10px; }
      footer#main-footer > div.container-xl form label {
        font-size: 0.80rem;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        color: goldenrod;
        font-weight: 500; }
      footer#main-footer > div.container-xl form input[type="text"] {
        border: 1px solid #bbb;
        padding: 3px 6px;
        font-size: 0.80rem;
        font-weight: 300;
        color: #821f22;
        margin: 0;
        width: calc(100% - 30px); }
        footer#main-footer > div.container-xl form input[type="text"]::placeholder {
          color: #555; }
      footer#main-footer > div.container-xl form input[type="submit"] {
        border: 0;
        background: #a74343;
        color: #fff;
        padding: 3px 6px;
        font-size: 0.85rem; }
        footer#main-footer > div.container-xl form input[type="submit"]:hover {
          background: goldenrod; }
    footer#main-footer > div.container-xl address {
      font-size: 0.8rem;
      flex: auto;
      margin: 0;
      line-height: 1rem;
      order: 2;
      text-align: right; }
      footer#main-footer > div.container-xl address small {
        color: goldenrod; }
    footer#main-footer > div.container-xl p {
      font-size: 0.8rem;
      color: #aaa;
      text-align: right;
      flex: auto;
      width: 50%;
      margin: 0 0 10px;
      display: none; }

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -1rem;
  margin-right: -1rem; }

.column {
  flex: 0 1 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
  overflow: hidden;
  font-size: 0.9rem; }
  .column figure {
    margin-top: 5px; }
    .column figure figcaption {
      text-align: right;
      font-weight: 300;
      color: #555; }
  .column p {
    text-align: justify; }

@media (min-width: 768px) {
  .column {
    flex: 1; } }
@media screen and (min-width: 420px) {
  footer#main-footer {
    padding: 1rem; }
    footer#main-footer > div.container-xl form label {
      font-size: 0.80rem; }
    footer#main-footer > div.container-xl form input[type="text"] {
      font-size: 0.80rem; }
    footer#main-footer > div.container-xl form input[type="submit"] {
      padding: 3px 6px;
      font-size: 0.85rem; } }
@media screen and (min-width: 768px) {
  body {
    height: auto;
    min-height: 100%; }

  h1 {
    font-size: 2.5rem; }

  ul {
    padding-left: revert; }

  nav#main-nav .navbar-brand img {
    height: 50px; }

  main.container-xl {
    padding-left: 35px;
    padding-right: 35px; }

  footer#main-footer {
    padding: .5rem 1rem; }
    footer#main-footer > div.container-xl nav {
      flex: 0 0 auto;
      width: auto;
      order: 1; }
    footer#main-footer > div.container-xl form {
      order: 3; }
    footer#main-footer > div.container-xl address {
      order: 2;
      text-align: left; } }
@media screen and (min-width: 992px) {
  h1 {
    margin-bottom: 50px; }

  nav#main-nav {
    padding: 5px 10px 8px; }
    nav#main-nav .navbar-brand img {
      height: 60px; }
    nav#main-nav .navbar-nav {
      padding: 0; }
      nav#main-nav .navbar-nav .nav-item .nav-link {
        position: relative;
        margin: 0;
        padding: 0 0.8rem; }
        nav#main-nav .navbar-nav .nav-item .nav-link::after {
          position: relative;
          top: 3px; }
      nav#main-nav .navbar-nav .nav-item .dropdown-menu {
        top: 50px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
        margin: 0;
        padding: 0; }
        nav#main-nav .navbar-nav .nav-item .dropdown-menu.show {
          top: 40px;
          padding: 0.5rem 0 1rem; }

  main.container-xl {
    padding-top: 140px;
    padding-bottom: 120px; }

  footer#main-footer {
    position: fixed; }
    footer#main-footer > div.container-xl form label {
      font-size: 0.80rem; }
    footer#main-footer > div.container-xl form input[type="text"] {
      font-size: 0.80rem; }
    footer#main-footer > div.container-xl form input[type="submit"] {
      padding: 3px 6px;
      font-size: 0.85rem; } }
.form {
  position: relative; }
  .form .confirm {
    position: absolute;
    left: -9999px; }
  .form .error {
    width: 100%;
    color: darkred;
    text-align: center;
    display: block;
    padding: 0; }
  .form .infos {
    text-align: center; }
  .form .field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 15px; }
    .form .field label {
      width: 100%;
      white-space: nowrap;
      margin-bottom: 0; }
    .form .field input, .form .field textarea {
      flex: 1; }
    .form .field input, .form .field textarea {
      width: 100%;
      border: 1px solid #ddd;
      padding: 5px 10px; }
    .form .field .error {
      font-size: 0.75rem;
      margin: 0; }
  .form input[type="submit"] {
    padding: 5px 40px;
    text-align: center;
    background: #a74343;
    color: white;
    border: none;
    display: block;
    margin: 0 auto 30px; }
    .form input[type="submit"]:hover {
      background: goldenrod; }

.success p, .success h4 {
  text-align: center; }
.success figure {
  width: 100px;
  margin: 0 auto; }

@media screen and (min-width: 768px) {
  .form {
    max-width: 550px;
    margin-bottom: 30px; }
    .form .error, .form .infos {
      text-align: right; }
    .form .success {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%; }
    .form label {
      flex: 0.4;
      text-align: right;
      margin-right: 25px;
      margin-bottom: 0; }
    .form .submit {
      display: flex;
      justify-content: flex-end; }
      .form .submit input[type="submit"] {
        margin: 0; } }
section.section_home .presentation figure img {
  width: auto; }
section.section_home > h2 {
  margin: 30px 0 60px;
  text-align: center; }
section.section_home .events {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 80px; }
  section.section_home .events .event {
    position: relative;
    flex: 1;
    margin: 0 15px;
    transition: 0.5s ease all;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 0; }
    section.section_home .events .event .ribbon {
      position: absolute;
      right: -15px;
      top: 25px;
      overflow: visible;
      font-size: 14px;
      line-height: 14px;
      font-family: 'caracteres_l1regular', sans-serif;
      font-weight: 500;
      z-index: 3; }
      section.section_home .events .event .ribbon span {
        display: block;
        padding: 5px 10px;
        position: relative;
        overflow: visible;
        margin-left: 0;
        text-decoration: none;
        text-transform: uppercase; }
        section.section_home .events .event .ribbon span::after {
          content: "";
          height: 0;
          width: 0;
          display: block;
          position: absolute;
          bottom: -15px;
          border-top: 15px solid rgba(0, 0, 0, 0.25);
          right: -1px;
          left: auto;
          border-right: 15px solid transparent; }
        section.section_home .events .event .ribbon span.resa {
          background: gold;
          color: #25252c; }
        section.section_home .events .event .ribbon span.alert {
          background: #a74343;
          color: white; }
        section.section_home .events .event .ribbon span.rip {
          background: #25252c;
          color: white; }
    section.section_home .events .event .content {
      margin-top: 40px;
      width: 100%; }
      section.section_home .events .event .content figure {
        position: relative;
        padding-top: 75%;
        width: calc(100% - 20px);
        margin: 0 0 0 10px; }
        section.section_home .events .event .content figure img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          left: 0;
          top: 0; }
      section.section_home .events .event .content .title {
        padding: 0 20px;
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin: 10px 0; }
        section.section_home .events .event .content .title.title-alone {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
        section.section_home .events .event .content .title h3 {
          margin: 0 0 5px;
          text-align: center;
          padding: 0;
          font-size: 18px;
          color: #25252c; }
        section.section_home .events .event .content .title .headline {
          margin: 0;
          padding: 0;
          text-align: center;
          color: #821f22;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 18px; }
        section.section_home .events .event .content .title a:hover {
          color: #821f22;
          text-decoration: underline; }
    section.section_home .events .event .date {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 22px;
      right: auto;
      display: inline-block;
      transform: translateY(-50%);
      font-weight: normal;
      padding: 5px 20px;
      width: auto;
      color: #25252c;
      box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
      background: #fbfbfb; }
      section.section_home .events .event .date .day {
        display: none; }
      section.section_home .events .event .date .time {
        display: block;
        font-weight: 300;
        color: #821f22;
        text-transform: lowercase; }

@media screen and (min-width: 576px) and (max-width: 767px) {
  section.section_home .presentation figure img {
    width: 100%; } }
@media screen and (min-width: 768px) {
  section.section_home .presentation .column:last-child {
    margin-left: 2rem; } }
@media screen and (max-width: 767px) {
  section.section_home .events {
    flex-wrap: wrap;
    margin-bottom: 0; }
    section.section_home .events .event {
      width: 100%;
      margin: 15px 30px 35px;
      flex: auto; } }
section.section_8-collectifs {
  max-width: 100% !important;
  padding: 0 .5rem; }
  section.section_8-collectifs .columns {
    display: block;
    margin-bottom: 50px; }
    section.section_8-collectifs .columns .column {
      overflow: inherit; }
      section.section_8-collectifs .columns .column:first-child {
        float: left; }
      section.section_8-collectifs .columns .column figure {
        margin: 0;
        max-width: 60px; }
        section.section_8-collectifs .columns .column figure.large {
          max-width: 80px; }
        section.section_8-collectifs .columns .column figure img {
          width: 100%; }
      section.section_8-collectifs .columns .column h5 {
        text-align: left; }
      section.section_8-collectifs .columns .column p {
        margin: 0; }
        section.section_8-collectifs .columns .column p .title {
          font-size: 2.5rem;
          display: block;
          text-align: center; }

@media screen and (min-width: 576px) {
  section.section_8-collectifs {
    padding: 0 1rem; } }
@media screen and (min-width: 768px) {
  section.section_8-collectifs .columns {
    display: flex;
    align-items: center; }
    section.section_8-collectifs .columns .column {
      overflow: auto; }
      section.section_8-collectifs .columns .column:first-child {
        float: none;
        flex: 0.3; }
      section.section_8-collectifs .columns .column figure {
        max-width: 125px;
        margin: 0 auto; }
        section.section_8-collectifs .columns .column figure.large {
          max-width: 175px; } }
section.section_un-lieu-ouvert-a-tou-te-s {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 .5rem; }
  section.section_un-lieu-ouvert-a-tou-te-s h5 {
    margin: 50px 0 25px;
    position: relative; }
    section.section_un-lieu-ouvert-a-tou-te-s h5:after {
      content: "";
      display: block;
      position: absolute;
      background: #a74343;
      width: 100%;
      height: 1px; }
  section.section_un-lieu-ouvert-a-tou-te-s p, section.section_un-lieu-ouvert-a-tou-te-s ul {
    font-size: 0.9rem;
    line-height: 1.6rem;
    text-align: justify; }
  section.section_un-lieu-ouvert-a-tou-te-s ul {
    padding-left: 15px; }

@media screen and (min-width: 576px) {
  section.section_un-lieu-ouvert-a-tou-te-s {
    padding: 0 2.5rem; }
    section.section_un-lieu-ouvert-a-tou-te-s ul {
      padding-left: 2rem; }
      section.section_un-lieu-ouvert-a-tou-te-s ul li {
        padding-left: .5rem; } }
@media screen and (min-width: 992px) {
  section.section_un-lieu-ouvert-a-tou-te-s {
    padding: 0; } }
.section_proposer-un-projet {
  padding: 0 .5rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify; }
  .section_proposer-un-projet h6 {
    text-align: center;
    margin-bottom: 25px; }
  .section_proposer-un-projet .columns {
    align-items: center; }
    .section_proposer-un-projet .columns .column {
      margin: 20px 0 0;
      width: 100%;
      overflow: auto;
      text-align: center; }
      .section_proposer-un-projet .columns .column p, .section_proposer-un-projet .columns .column ul {
        margin: 0;
        text-align: center;
        font-size: 0.9rem; }
      .section_proposer-un-projet .columns .column a {
        font-weight: 500; }
      .section_proposer-un-projet .columns .column ul {
        text-align: left;
        display: inline-block;
        padding: 0; }
  .section_proposer-un-projet figure {
    margin-top: 50px; }

@media screen and (min-width: 768px) {
  .section_organiser-un-evenement .columns {
    align-items: center;
    margin-left: 0;
    margin-right: 0; }
    .section_organiser-un-evenement .columns .column {
      width: auto;
      white-space: nowrap;
      flex: 1; }
      .section_organiser-un-evenement .columns .column p, .section_organiser-un-evenement .columns .column ul {
        margin: 0;
        font-size: 1rem;
        text-align: justify; }
      .section_organiser-un-evenement .columns .column a {
        font-weight: 500; }
      .section_organiser-un-evenement .columns .column:first-child {
        flex: 0.6; }
      .section_organiser-un-evenement .columns .column:last-child p {
        text-align: right; } }
@media screen and (min-width: 992px) {
  .section_organiser-un-evenement .columns {
    margin-left: 0;
    margin-right: 0; } }
section.section_horaires-d-ouverture {
  max-width: 585px;
  margin: 0 auto;
  text-align: justify; }

section.section_contact {
  max-width: 100% !important; }
  section.section_contact .columns .column {
    overflow: auto; }

@media screen and (min-width: 768px) {
  section.section_contact .form .error, section.section_contact .form .infos {
    text-align: right; }
  section.section_contact .form label {
    flex: 0.5;
    text-align: right;
    margin-right: 25px;
    margin-bottom: 0; }
  section.section_contact .form input[type="submit"] {
    float: right;
    margin: 0; } }
main.section_agenda {
  /*!
    Title: Vertical-Timeline
    Version: 2.0.0
    Last Change: 04/30/17
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/vertical-timeline
    Issues: https://github.com/RyanFitzgerald/vertical-timeline/issues
	LICENSE: MIT
*/ }
  main.section_agenda aside {
    width: 160px;
    position: fixed;
    top: 120px; }
  main.section_agenda section.content {
    margin-left: 180px;
    margin-right: 0;
    max-width: 100%; }
  main.section_agenda ul.filters {
    list-style: none;
    margin: 0 0 20px;
    padding: 0; }
    main.section_agenda ul.filters li {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 0.9rem; }
      main.section_agenda ul.filters li a {
        color: #25252c; }
        main.section_agenda ul.filters li a:hover {
          color: goldenrod !important; }
        main.section_agenda ul.filters li a.active {
          display: block;
          color: #bbb;
          cursor: default; }
          main.section_agenda ul.filters li a.active:hover {
            color: #bbb !important; }
          main.section_agenda ul.filters li a.active::after {
            content: "";
            display: inline-block;
            border: solid goldenrod;
            border-width: 0 2px 2px 0;
            width: 6px;
            height: 10px;
            transform: rotate(45deg);
            margin-left: 10px;
            position: relative;
            top: -2px; }
        main.section_agenda ul.filters li a:hover {
          text-decoration: none; }
      main.section_agenda ul.filters li span.color {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%; }
  main.section_agenda .sections .filters a {
    font-weight: 500; }
  main.section_agenda .vtimeline {
    position: relative; }
    main.section_agenda .vtimeline::before, main.section_agenda .vtimeline::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      background: goldenrod;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1; }
    main.section_agenda .vtimeline::before {
      top: 20px;
      left: 4px; }
    main.section_agenda .vtimeline::after {
      top: -20px;
      left: -4px; }
    main.section_agenda .vtimeline .vtimeline-point {
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      align-items: center; }
      main.section_agenda .vtimeline .vtimeline-point .vtimeline-icon {
        position: absolute;
        height: 25px;
        width: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 50%;
        background: #821f22;
        top: calc(25% - 12.5px); }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-icon::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 7px;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: white; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-icon::after {
          width: 27px;
          height: 27px;
          border: 5px solid white;
          display: block;
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          border-radius: 50%; }
      main.section_agenda .vtimeline .vtimeline-point .vtimeline-block {
        width: 45%;
        margin: 0;
        transition: 0.5s ease all;
        box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.1);
        background: white;
        padding: 0; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block::after {
          content: '';
          position: absolute;
          top: 25%;
          transform: translateY(-50%) rotate(45deg);
          left: calc(45% - 11px);
          width: 20px;
          height: 20px;
          background: white;
          box-shadow: 5px -5px 10px -2px rgba(0, 0, 0, 0.1);
          transition: all 0.5s ease; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .ribbon {
          position: absolute;
          top: 15px;
          left: -15px;
          overflow: visible;
          font-size: 14px;
          line-height: 14px;
          font-family: 'caracteres_l1regular', sans-serif;
          font-weight: 500;
          z-index: 3; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .ribbon span {
            display: block;
            padding: 5px 10px;
            position: relative;
            overflow: visible;
            margin-left: 0;
            text-decoration: none;
            text-transform: uppercase; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .ribbon span::after {
              content: "";
              height: 0;
              width: 0;
              display: block;
              position: absolute;
              bottom: -15px;
              left: -1px;
              border-top: 15px solid rgba(0, 0, 0, 0.25);
              border-left: 15px solid transparent; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .ribbon span.resa {
              background: gold;
              color: #25252c; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .ribbon span.alert {
              background: #a74343;
              color: white; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .ribbon span.rip {
              background: #25252c;
              color: white; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content {
          transition: 0.5s ease all; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content figure {
            margin: 0;
            padding: 28px 5px 0; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .content {
            position: relative;
            z-index: 2; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .filters {
            position: absolute;
            right: 8px;
            display: flex;
            margin: 10px 0 0; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .filters li {
              margin: 0 0 2px; }
              main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .filters li .color {
                display: block; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .title {
            margin: 20px; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .title h3 {
              margin: 0 0 5px;
              text-align: center;
              padding: 0;
              font-size: 18px;
              color: #25252c; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .title .headline {
              margin: 0;
              padding: 0;
              text-align: center;
              color: #821f22;
              text-transform: uppercase;
              font-size: 14px;
              line-height: 18px; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .title a:hover {
              color: #821f22;
              text-decoration: underline; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vt-animate-fade {
          opacity: 0; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vt-animate-slide {
          opacity: 0;
          transform: translateX(-100%); }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-date {
          position: absolute;
          display: inline-block;
          left: 55%;
          top: 25%;
          transform: translateY(-50%);
          font-weight: normal;
          padding: 5px 20px;
          width: auto;
          color: #25252c;
          box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
          background: #fbfbfb; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-date .time {
            display: block;
            font-weight: 300;
            color: #821f22;
            text-transform: lowercase; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right {
          margin-left: 55%;
          box-shadow: -2px 4px 10px 3px rgba(0, 0, 0, 0.1); }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right::after {
            left: auto;
            right: calc(45% - 10px);
            box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.1); }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right.vt-animate-slide {
            transform: translateX(100%); }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-date {
            left: auto;
            right: 55%; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content .filters {
            right: auto;
            left: 8px; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content .ribbon {
            right: -15px;
            left: auto; }
            main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content .ribbon span::after {
              right: -1px;
              left: auto;
              border-right: 15px solid transparent;
              border-left: none; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vt-noarrows::after {
          content: none; }
  @media only screen and (max-width: 991px) {
    main.section_agenda .vtimeline::before {
      display: none; }
    main.section_agenda .vtimeline .vtimeline-point {
      margin-bottom: 15px; }
      main.section_agenda .vtimeline .vtimeline-point .vtimeline-icon {
        display: none; }
      main.section_agenda .vtimeline .vtimeline-point .vtimeline-block, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right {
        width: 100% !important;
        margin: 20px !important;
        box-shadow: -2px 4px 10px 3px rgba(0, 0, 0, 0.1); }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block::after, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right::after {
          display: none; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vt-animate-slide, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right.vt-animate-slide {
          transform: translateX(100%); }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .filters, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content .filters {
          justify-content: flex-start;
          right: auto;
          left: 8px;
          margin: 0; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .ribbon, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content .ribbon {
          right: 5px !important;
          left: auto !important;
          top: 36px; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content .ribbon span::after, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content .ribbon span::after {
            right: -1px;
            left: auto;
            border-right: 15px solid transparent;
            border-left: none; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-content figure, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-content figure {
          padding: 25px 10px 0; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block::after, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right::after {
          left: auto;
          right: 85%;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: none;
          border-right: 10px solid #eee; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-date, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-date {
          position: relative;
          top: 0;
          left: 22px;
          right: auto; }
          main.section_agenda .vtimeline .vtimeline-point .vtimeline-block .vtimeline-date .time, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-date .time {
            display: block;
            margin-left: 0;
            position: relative; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right .vtimeline-date, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right.vtimeline-right .vtimeline-date {
          right: auto; }
        main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vt-animate-slide, main.section_agenda .vtimeline .vtimeline-point .vtimeline-block.vtimeline-right.vt-animate-slide {
          transform: translateX(100%); }
    main.section_agenda .vtimeline.basic .vtimeline-date {
      padding: 10px 10px 0 10px; } }
  @media only screen and (max-width: 767px) {
    main.section_agenda aside {
      width: 100%;
      position: static; }
      main.section_agenda aside .filters.colors, main.section_agenda aside .filters.reservations {
        display: none; }
    main.section_agenda section.content {
      margin-left: 0; }
      main.section_agenda section.content .vtimeline-content .ribbon {
        top: 50px !important; }
      main.section_agenda section.content .vtimeline-content .filters {
        display: none !important; }
      main.section_agenda section.content .vtimeline-date .day {
        display: none; } }

main.event nav.events-nav .next {
  float: right; }
  main.event nav.events-nav .next::after {
    width: 6px;
    height: 6px;
    border: solid #821f22;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    content: "";
    display: inline-block;
    margin-left: 0.33em;
    position: relative;
    top: -1px; }
main.event nav.events-nav .back::before {
  width: 6px;
  height: 6px;
  border: solid #821f22;
  border-width: 2px 0 0 2px;
  transform: rotate(-45deg);
  content: "";
  display: inline-block;
  margin-right: 0.33em;
  position: relative;
  top: -1px; }
main.event .params {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
  main.event .params .colors {
    width: 200px;
    text-align: right; }
    main.event .params .colors .filters {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0.9rem;
      display: inline-block; }
      main.event .params .colors .filters li {
        text-align: left; }
        main.event .params .colors .filters li span.color {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 5px; }
  main.event .params .dates {
    font-size: 18px;
    padding: 10px 25px;
    margin: 20px auto;
    background: #fbfbfb;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-weight: 500;
    text-align: center; }
    main.event .params .dates .time {
      display: block;
      color: #821f22;
      text-transform: lowercase;
      padding-left: 5px;
      font-weight: 500; }
  main.event .params .reservation {
    width: 200px; }
    main.event .params .reservation span {
      padding: 5px 15px;
      margin: 0;
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.2); }
      main.event .params .reservation span.resa {
        background: gold;
        color: #25252c; }
      main.event .params .reservation span.alert {
        background: #a74343;
        color: white; }
      main.event .params .reservation span.rip {
        background: #25252c;
        color: white; }
main.event header {
  margin-bottom: 30px; }
  main.event header h1 {
    margin: 0; }
  main.event header .headline {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0; }
main.event section.content {
  max-width: 800px;
  margin: 0 auto; }
  main.event section.content figure {
    margin-bottom: 30px; }
  main.event section.content p {
    text-align: justify; }
@media screen and (max-width: 767px) {
  main.event .params {
    flex-wrap: wrap;
    margin-top: 15px; }
    main.event .params .colors, main.event .params .reservation {
      width: auto; }
    main.event .params .dates {
      width: 80%;
      order: 1; } }

main.section_benevoles .success figure {
  position: relative;
  margin: 0 auto; }
  main.section_benevoles .success figure.first {
    width: 125px;
    right: 100px;
    top: -10px; }
  main.section_benevoles .success figure.second {
    width: 150px;
    top: -50px; }
  main.section_benevoles .success figure.third {
    left: 100px;
    top: -100px;
    width: 100px; }

/*# sourceMappingURL=styles.css.map */
