section.section_8-collectifs {
  max-width: 100% !important;
  padding: 0 .5rem;
  .columns {
    display: block;
    margin-bottom: 50px;
    .column {
      overflow: inherit;
      &:first-child {
        float: left;
      }
      figure {
        margin: 0;
        max-width: 60px;
        &.large {
          max-width: 80px;
        }

        img {
          width: 100%;
        }
      }
      h5 {
        text-align: left;
      }
      p {
        margin: 0;
        .title {
          font-size: 2.5rem;
          display: block;
          text-align: center;
        }
      }

    }
  }
}

@media screen and (min-width: 576px) {
  section.section_8-collectifs {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  section.section_8-collectifs {
    .columns {
      display: flex;
      align-items: center;

      .column {
        overflow: auto;
        &:first-child {
          float: none;
          flex: 0.3;
        }

        figure {
          max-width: 125px;
          margin: 0 auto;

          &.large {
            max-width: 175px;
          }
        }
      }
    }
  }

}
