main.section_benevoles {
    .success {
        figure {
            position: relative;
            margin: 0 auto;

            &.first {
                width: 125px;
                right: 100px;
                top: -10px;
            }

            &.second {
                width: 150px;
                top: -50px;
            }

            &.third {
                left: 100px;
                top: -100px;
                width: 100px;
            }
        }
    }
}