section.section_contact {
  max-width: 100% !important;
  .columns {
    .column {
      overflow: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  section.section_contact {
    .form {
      .error, .infos {
        text-align: right;
      }

      label {
        flex: 0.5;
        text-align: right;
        margin-right: 25px;
        margin-bottom: 0;
      }
      input[type="submit"] {
        float: right;
        margin: 0;
      }
    }
  }
}
