.section_proposer-un-projet {
  padding: 0 .5rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  h6 {
    text-align: center;
    margin-bottom: 25px;
  }

  .columns {
    align-items: center;

    .column {
      margin: 20px 0 0;
      width: 100%;
      overflow: auto;
      text-align: center;

      p, ul {
        margin: 0;
        text-align: center;
        font-size: 0.9rem;
      }

      a {
        font-weight: 500;
      }

      ul {
        text-align: left;
        display: inline-block;
        padding: 0;
      }
    }
  }

  figure {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .section_organiser-un-evenement {
    .columns {
      align-items: center;
      margin-left: 0;
      margin-right: 0;

      .column {
        width: auto;
        white-space: nowrap;
        flex: 1;

        p, ul {
          margin: 0;
          font-size: 1rem;
          text-align: justify;
        }

        a {
          font-weight: 500;
        }
        &:first-child {
          flex: 0.6;
        }

        &:last-child {
          p {
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .section_organiser-un-evenement .columns {
    margin-left: 0;
    margin-right: 0;
  }
}
